# this is the .gitignore file
# :-)
# common auxiliary files
*.log
*.aux
*.synctex.gz
*.out
*.toc
*.gz
*.zip
# abbiamo deciso di non includere nel repo
# il file pdf compilato
guidaconsole.pdf
# ed anche di escludere i file di classe
# scaricabili direttamente dal repo apposito
# sul progetto GuITeX
# La soluzione consiste nel copiare in locale
# i file relativi alla classe (ed in questo caso
# servono le righe seguenti) oppure di installare
# i file nell'albero locale o personale del proprio
# sistema
guidatematica.cls
guidatematica.bib
guidatematica.bst
LogoGuITtondo.pdf
LogoGuITlineare.pdf
#
